{% extends 'base.html.twig' %}

{% block body %}
    <div style="width: auto; height: 200px; " id="timer">
        
        <p> This is a place for a future timer </p>
        
         
    </div>
    
    <h2 style="font-stretch: semi-expanded; color: red">Tasks list</h2>
    
    <table id="table" style="margin: 0px auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2">Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.minutes }}</td>
                <td>{{ task.seconds }}</td>
                <td> <input type="button" id="countdown" value="Start Countdown"> </input> </td>
                <td>
                     <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
        
        <a href="{{ path('task_new')}}"> Add new task </a>
    </div>
{% endblock %}
