{% extends 'base.html.twig' %}

{% block body %}
    <div id="timer">
        
        <p id="timer" onclick="myFunction()"> Here is the place when your timer should go </p>
        
    
    </div>
    
    
    <h1 style="text-align: center">Tasks list</h1>

    <table align="center" class="table" style="width: 60%; background-color: #E0ECF8;" >
        <thead> 
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Minutes</th>
                <th>Seconds</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.minutes }}</td>
                <td>{{ task.seconds }}</td>
                <td> <input type='button' class='btn btn-success' id='countdown' value='Start Countdown'</input>
                <input type='button' class='btn btn-info' id='countdown' value='Show'</input>
                <input type='button' class='btn btn-danger' id='countdown' value='Delete'</input> </td>           
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        
                    
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                    
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>
    </ul>
{% endblock %}
